<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>安装超人管理平台</title>
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/admin.css">
  <script src="/static/jquery.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<include file="public/header" /> 

<div class="am-cf admin-main">
<include file="public/sidebar" /> 

<!-- content start -->
<form action="{:U('admin/select/enumEditSave')}" method="post">
<input type="hidden" name="id" value="{$enum_date['id']}">
<div class="admin-content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{$itemname}</strong> / <small>字段</small></div>
  </div>

  <div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab1">修改字段</a></li>
    </ul>

    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab1">
	  
	    <div class="am-g am-margin-top">
		<div class="am-u-sm-2 am-text-right">所属类别</div>
		<div class="am-u-sm-4">
			<select name="itemgroup" id="itemgroup">
			  <option value="{$itemgroup}">{$itemname}</option>
			</select>
		</div>
			<div class="am-u-sm-6">*必填</div>
        </div>
		
		<div class="am-g am-margin-top">
			<div class="am-u-sm-2 am-text-right">
			  字段名
			</div>
			<div class="am-u-sm-4">
			  <input type="text" class="am-input-sm" name="name" id="name" value="{$enum_date['name']}">
			</div>
			<div class="am-u-sm-6">*必填</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-2 am-text-right">
			  字段排序
			</div>
			<div class="am-u-sm-4 col-end">
			  <input type="text" class="am-input-sm" name="sort" id="sort" value="{$enum_date['sort']}">
			</div>
			<div class="am-u-sm-6">*必填</div>
		</div>
      </div>
    </div>
  </div>

  <div class="am-margin">
    <input type="submit" class="am-btn am-btn-primary" value="确定添加" id="submit">
    <a type="button" class="am-btn am-btn-default" href="{:U('/admin/select/enum','itemgroup='.$itemgroup,'')}">返回列表</a>
  </div>
</div>
</form>
<!-- content end -->

</div>


<include file="public/footer" /> 

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/polyfill/rem.min.js"></script>
<script src="/static/assets/js/polyfill/respond.min.js"></script>
<script src="/static/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/app.js"></script>
</body>
</html>
<script src="/static/layer.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#submit').click(function(){
		var $itemgroup=$('#itemgroup');
		var $name=$('#name');
		var $sort=$('#sort');

		var itemgroup=$.trim($itemgroup.val());
		var name=$.trim($name.val());
		var sort=$.trim($sort.val());

		if(itemgroup==''){
			tips($itemgroup,'请选择所属类别');
			return false;
		}
		if(name==''){
			tips($name,'请填写字段名字');
			return false;
		}
		if(sort==''){
			tips($sort,'请填写字段排序权重');
			return false;
		}
	});
})

var tips=function(e,tit){
	e.focus();
	// 第一个参数输入  标题
	//参数2  要绑定的对象
	//参数3 输出箭头方向
	// 样式
	layer.tips(tit,e,{time:2, guide: 0, style:['background-color:#F26C4F; color:#fff', '#F26C4F']} );	
}
</script>
